{% extends 'base.html' %}
{% block title %}Projects{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h4 class="mb-0"><i class="fas fa-clipboard me-2"></i>Projects</h4>
        </div>
        <div class="card-body">
        <div class="row mb-4">
            <div class="table-responsive col-md-12">
                <table id="projects-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Species</th>
                            <th>Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Project entries will be dynamically inserted here -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-4">
            <div id="status" class="col-md-12">
            </div>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <i class="fas fa-plus-circle me-1"></i>Add New Project
        </div>
        <div class="card-body">
        <div class="row mb-4">
            <div class="col-md-12">
                <form id="add-project-form" class="row g-3" >
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" placeholder="Project Name" required />

                    <label for="description" class="form-label">description</label>
                    <input type="text" name="description" placeholder="Project Description" required />

                    <label for="species_id" class="form-label"> Species</label>
                    <select name="species_id" required>
                        <option value="">Choose</option>
                        {% for species in species %}
                        <option value="{{ species.id }}">{{ species.common_name }}</option>
                        {% endfor %}
                    </select>

                    <button type="submit">Add Project</button>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    // Adjust this selector based on how you include the CSRF token in your HTML
    const csrfToken = document.querySelector('input[name="csrf_token"]').value;

    document.addEventListener("DOMContentLoaded", function() {
            fetchProjects();
    });

    // Add new project
    document.getElementById('add-project-form').addEventListener('submit', function(e) {
        e.preventDefault();
        const formData = new FormData(this);
        fetch('/projects/add', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                fetchProjects();
            }
            document.getElementById('status').innerHTML = response.statusText;
        })
        .catch((error) => {document.getElementById('status').innerHTML = error;});
    });

    // Delete project
    function deleteProject(id) {
        fetch(`/projects/delete/${id}`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': csrfToken
            }
        })
        .then(response => {
            if (response.ok) {
                fetchProjects();
            }
            document.getElementById('status').innerHTML = response.statusText;
        })
       .catch((error) => {document.getElementById('status').innerHTML = error;});
    }

    // Fetch and display projects
    function fetchProjects() {
        fetch("/projects/list")
            .then(response => response.json())
            .then(data => {
                const table = document.getElementById('projects-table');

                data.projects.forEach(project => {
                    let tablebody = '';
                    data.projects.forEach(project => {
                        tablebody += `<tr>
                            <td>${project.id}</td>
                        <td>${project.name}</td>
                        <td>${project.description}</td>
                        <td>${project.species_id}</td>
                        <td>
                            <button onclick="deleteProject(${project.id})">Delete</button>
                            <button onclick="window.location.href='/projects/edit/${project.id}'">Edit</button>
                        </td>
                    </tr>`;
                    });
                    table.tBodies[0].innerHTML = tablebody;
                });
            })
           .catch((error) => {document.getElementById('status').innerHTML = error;});
    }
</script>
{% endblock %}