{% extends 'base.html' %}
{% block title %}Project Management{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h4 class="mb-0"><i class="fas fa-clipboard me-2"></i>Projects</h4>
        </div>
        <div class="card-body">
        <div class="row mb-4">
            <div class="table-responsive col-md-12">
                <table id="projects-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Species</th>
                            <th>Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Project entries will be dynamically inserted here -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-4">
            <div id="status" class="col-md-12">
            </div>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <i class="fas fa-plus-circle me-1"></i>Add New Project
        </div>
        <div class="card-body">
        <div class="row mb-4">
            <div class="col-md-12">
                <form id="add-project-form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <label> Name
                        <input type="text" name="name" placeholder="Project Name" required />
                    <label> Desc
                        <input type="text" name="description" placeholder="Project Description" required />
                    </label>
                    <label> Species
                        <select name="species_code" required>
                            <option value="">Choose</option>
                            {% for species in species %}
                            <option value="{{ species.species_code }}">{{ species.common_name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <button type="submit">Add Project</button>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
            fetchProjects();
    });

    // Fetch and display projects
    function fetchProjects() {
        fetch("/project/list")
            .then(response => response.json())
            .then(data => {
                const table = document.getElementById('projects-table');

                data.projects.forEach(project => {
                    let tablebody = '';
                    data.projects.forEach(project => {
                        tablebody += `<tr>
                            <td>${project.id}</td>
                        <td>${project.name}</td>
                        <td>${project.description}</td>
                        <td>${project.species_code}</td>
                        <td>
                            <button onclick="deleteProject(${project.id})">Delete</button>
                            <button onclick="editProject(${project.id})">Edit</button>
                        </td>
                    </tr>`;
                    });
                    table.tBodies[0].innerHTML = tablebody;
                });
            });
    }

    // Add new project
    document.getElementById('add-project-form').addEventListener('submit', function(e) {
        e.preventDefault();
        const formData = new FormData(this);
        fetch('/project/add', {
            method: 'POST',
            body: formData
        })
        .then(response =>  response.json())
        .then((json) => {
            fetchProjects();
            document.getElementById('status').innerHTML = json.message;
            this.reset();
        })
        .catch((error) => {document.getElementById('status').innerHTML = error;});
    });

    // Edit project
    function editProject(id) {
        fetch(`/projects/edit/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(() => {
            fetchProjects();
        });
    }

    // Delete project
    function deleteProject(id) {
        fetch(`/projects/delete/${id}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                fetchProjects();
            }
        });
    }
</script>
{% endblock %}